a{
  font-size: 0.8em;
  text-decoration: none;
}

.label-text
{
  font-size: 10px;
}

.text-color
{
  color:#27173E;
}


.center-right{
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.custom-row
{
  position: relative;
  width: 100%;
}
