<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-row >
      <ion-col size="3">
        <ion-icon name="arrow-back-outline" size="medium" (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col size="6">
          <ion-title color="light" class="text-title ion-text-center ion-text-capitalize">Detail Seance</ion-title>
      </ion-col>
      <ion-col size="3" class="ion-text-end ion-padding-end" >
        <ion-icon id="click-trigger" name="ellipsis-vertical-outline" *ngIf="currentUser.user.id === currentTontine.user_id"></ion-icon>
        <ion-popover trigger="click-trigger" triggerAction="click" >
          <ng-template class="custom-popover">
            <ion-content class="ion-padding " >
              <ion-list>
                <ion-item lines="none" (click)="updateSeance(id)">
                  <ion-text slot="start">
                    Annuler
                  </ion-text>
                  <ion-icon name="log-in-outline" slot="end"></ion-icon>
                </ion-item >
                <ion-item lines="none" (click)="deleteSeance(id)">
                  <ion-text slot="start">
                    Supprimer
                  </ion-text>
                  <ion-icon slot="end" name="trash-outline"></ion-icon>
                </ion-item>
                <ion-item lines="none" (click)="valideSeance(id)">
                  <ion-text slot="start">
                    Valider
                  </ion-text>
                  <ion-icon name="checkmark-outline" slot="end"></ion-icon>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <ion-grid *ngIf="currentSeance">
      <ion-card class="ion-no-border ion-padding custom-bottom">
        <ion-row>
          <ion-col size="6" class="custom-center">
              <ion-text class="custom" *ngIf="rank" >Seance No {{rank}}</ion-text>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="4" *ngIf="!currentSeance.etatS">
            <ion-note color="success" *ngIf="currentSeance.statutS">
              A Venir
            </ion-note>
            <ion-note color="warning" *ngIf="!currentSeance.statutS">
              Terminee
            </ion-note>
          </ion-col>
          <ion-col size="4" *ngIf="currentSeance.etatS">
            <ion-note color="danger">
               Annulee
            </ion-note>
            <!-- <ion-note color="danger" *ngIf="!currentSeance.statutS">
              Terminee
            </ion-note> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              {{currentSeance.dateS| date:'dd/MM/yyyy'}}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              {{'Beneficiaires '}}
              <ion-badge> {{currentSeance.beneficiaires.length}}/{{currentExercice.nbreBenef}} </ion-badge>
            </ion-row>
            <ion-text *ngFor="let item of currentSeance.beneficiaires">
              {{item.nom}} |
            </ion-text>
          </ion-col>
          <ion-col size="2">

          </ion-col>
          <ion-col size="4" >
            <ion-note >
              {{((currentTontine.montantT * currentSeance.cotisations.length) / currentExercice.nbreBenef) | currency:'XAF'}}
            </ion-note>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-grid>

    <ion-row>
      <ion-col size="4">
        <ion-card color="success" class="ion-padding ion-text-center" *ngIf="currentSeance && currentTontine">
          <ion-row>
              <ion-text class="sub-card">
                Cotisations
              </ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="sub-card">
              {{(currentSeance.cotisations.length * currentTontine.montantT) | currency:'XAF'}}
            </ion-text>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card color="warning" class="ion-padding ion-text-center" *ngIf="currentSeance && currentTontine">
          <ion-row>
            <ion-text class="sub-card">
              Retards
            </ion-text>
          </ion-row>
          <ion-row *ngIf="currentSeance.retards && currentTontine.retard">
            <ion-text class="sub-card">
              {{(currentSeance.retards.length * currentTontine.retard) | currency:'XAF'}}
            </ion-text>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card color="danger" class="ion-padding ion-text-center" *ngIf="currentSeance && currentTontine">
          <ion-row>
            <ion-text class="sub-card">
              Echecs
            </ion-text>
          </ion-row>
          <ion-row *ngIf="currentSeance.echecs && currentTontine.echec">
            <ion-text class="sub-card">
              {{(currentSeance.echecs.length * currentTontine.echec) | currency:'XAF'}}
            </ion-text>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-segment (ionChange)="segmentChanged($event)" value='cotisations'  >
          <ion-segment-button value="cotisations" *ngIf="currentSeance">
            <ion-label class="text-title">Cotisations
              <ion-badge class="sub" >{{currentSeance.cotisations.length}}/{{currentExercice.membres.length}}</ion-badge>
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="retards">
            <ion-label class="text-title" *ngIf="currentSeance">Retards
              <ion-badge class="sub" *ngIf="currentSeance.retards">{{currentSeance.retards.length}}</ion-badge>

            </ion-label>
          </ion-segment-button>
          <ion-segment-button  value="echecs">
            <ion-label class="text-title" *ngIf="currentSeance"> Echecs
              <ion-badge class="sub" *ngIf="currentSeance.echecs">{{currentSeance.echecs.length}}</ion-badge>

            </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
    </ion-row>

    <ion-grid>
      <ion-grid *ngIf="currentSegment === 'cotisations' && currentSeance">
        <ion-card *ngIf="currentExercice">
          <ion-list *ngIf="currentExercice.membres.length > canBeCotiser.length">
            <div *ngFor="let item of currentExercice.membres">
              <div *ngIf="!canBeCotiser.includes(item.id)">
                <ion-row >
                  <ion-item lines="full" class="custom-item">
                    <ion-avatar slot="start">
                      <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
                    </ion-avatar>
                      <ion-label slot="">
                        <h2>{{item.nom +' '+item.prenom}}</h2>
                        <p>{{item.created_at | date:'dd/MM/yyyy'}}</p>
                      </ion-label>
                      <ion-button  size="small" shape="round"
                   fill="outline"
                   color="primary"
                   slot="end"
                   class="custom-btn"
                   (click)="onSubmit(item)"
                   *ngIf="currentTontine.user_id === currentUser.user.id"
                   >Cotiser</ion-button>
                   <!-- <ion-button  size="small" shape="round"
                   fill="outline"
                   color="danger"
                   slot="end"
                   class="custom-btn"
                   >Regle</ion-button> -->
                  </ion-item>
                </ion-row>
              </div>

            </div>
            </ion-list>
        </ion-card>
      </ion-grid>

      <ion-grid  *ngIf="currentSegment === 'retards' && currentSeance">
        <ion-card *ngIf="currentSeance.retards.length > 0">
          <ion-list >
            <ion-item *ngFor="let item of currentSeance.retards" >
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{item.nom+' '+item.prenom}}</h2>
                <p>{{item.created_at | date:'dd/MM/yyyy'}}</p>
              </ion-label>
              <ion-button slot="end"  size="small" shape="round"
                   fill="outline"
                   color="warning"
                  *ngIf="!item.statut && currentTontine.user_id === currentUser.user.id"
                   (click)="payedRetard(item)"
                   >Payer</ion-button>
                   <ion-button slot="end"  size="small" shape="round"
                   fill="outline"
                   color="success"
                  *ngIf="item.statut "
                  disabled="item.statut"
                   >Regle</ion-button>
                   <ion-button slot="end"  size="small" shape="round"
                   fill="outline"
                   color="warning"
                  *ngIf="!item.statut && currentTontine.user_id !== currentUser.user.id"
                  disabled="item.statut"
                   >En Attente</ion-button>
            </ion-item>

            </ion-list>
        </ion-card>
      </ion-grid>

      <ion-grid *ngIf="currentSegment === 'echecs' && currentSeance">
        <ion-card  *ngIf="currentSeance.echecs.length > 0">
          <ion-list>
            <ion-item *ngFor="let item of currentSeance.echecs">
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{item.nom+' '+item.prenom}}</h2>
                <p *ngIf="!item.statut">{{item.created_at | date:'dd/MM/yyyy'}} </p>
                <p color="warning" *ngIf="item.statut" >{{item.updated_at | date:'dd/MM/yyyy'}} </p>
              </ion-label>
              <ion-button slot="end"  size="small" shape="round"
                   fill="outline"
                   color="danger"
                   (click)="payedEchec(item)"
                  *ngIf="!item.statut && currentTontine.user_id === currentUser.user.id"
                   >Payer</ion-button>
                   <ion-button slot="end"  size="small" shape="round"
                   fill="outline"
                   color="success"
                  *ngIf="item.statut"
                  disabled="item.statut"
                   >Regle</ion-button>
                   <ion-button slot="end"  size="small" shape="round"
                   fill="outline"
                   color="warning"
                  *ngIf="!item.statut && currentTontine.user_id !== currentUser.user.id"
                  disabled="item.statut"
                   >En Attente</ion-button>

            </ion-item>
            </ion-list>
        </ion-card>
      </ion-grid>
    </ion-grid>
  </ion-grid>
</ion-content>
