a{
  font-size: 1.1em;
  text-decoration: none;
}

.label-text
{
  font-size: 15px;
}

.text-color
{
  color:#27173E;
}


.center-right{
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
