<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-row >
      <ion-col size="3">
      </ion-col>
      <ion-col size="6">
          <ion-title color="light" class="text-title ion-text-center ion-text-capitalize">Tontines</ion-title>
      </ion-col>
      <ion-col size="3" class="ion-text-end ion-padding-end" >
        <ion-icon  name="options-outline" id="open-modal"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
<ion-grid *ngIf="tontines">
  <ion-searchbar placeholder="Rechercher ..."  [(ngModel)]="searchInput">
  </ion-searchbar>
  <ion-card  class="ion-no-border ion-padding" *ngFor="let item of tontines | filter:searchInput;let i = index; " (click)="presentActionSheet(item)">
      <ion-row>
        <ion-col size="9">
          <ion-text style="font-weight:bold;color:black">{{item.nomT}}</ion-text>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-icon size="medium" id="click-trigger" *ngIf="item.user_id === currentUser.user.id" name="share-social-outline" (click)="share(item)"></ion-icon>
          <ion-popover trigger="click-trigger" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding">
                <ion-row>
                  <ion-col size="3" class="ion-text-center">
                    <ion-icon name="logo-facebook" size="large" color="primary" (click)="shareOnFacebook()"></ion-icon>
                  </ion-col>
                  <ion-col size="3" class="ion-text-center">
                    <ion-icon name="logo-whatsapp" color="success" size="large" (click)="shareOnWhatsapp()"></ion-icon>
                  </ion-col>
                  <ion-col size="3" class="ion-text-center">
                    <ion-icon name="logo-twitter" size="large" color="primary" (click)="shareOnTwitter()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-text color="medium">{{item.maxT +' membres '}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="medium">{{ item.montantT | currency:'XAF'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <ion-text color="warning" *ngIf="demandes && demandes.includes(item.id) ">
           En Attente
          </ion-text>
          <ion-text *ngIf="mesTontines &&  mesTontines.includes(item.id) && item.user_id !== currentUser.user.id" color="success">
            Membre
          </ion-text>
          <ion-text *ngIf="item.user_id === currentUser.user.id" color="success">
            Proprietaire
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-end">
        </ion-col>
        <ion-col size="2" class="ion-text-end">
          <ion-icon *ngIf="item.type === 'Ouverte'" name="lock-open-outline"></ion-icon>
          <ion-icon *ngIf="item.type === 'Fermee'" name="lock-closed-outline"></ion-icon>
        </ion-col>
      </ion-row>
    <ion-row>
    </ion-row>
</ion-card>





</ion-grid>
<ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button>
      <ion-icon name="wallet-outline" (click)="openNewTontineModal()" ></ion-icon>
    </ion-fab-button>
    <ion-label slot="end">Tontine</ion-label>
  </ion-fab-list>
</ion-fab>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)"
[initialBreakpoint]="0.25"
[breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Annuler</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Rechercher</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="formGroup">
        <!-- <ion-item>
          <ion-label position="stacked" class="text-title">Nom Tontine</ion-label>
          <ion-input type="text" formControlName="nomT" class="text-title"></ion-input>
        </ion-item> -->
        <ion-item>
                <ion-checkbox slot="start" formControlName="fermee"></ion-checkbox>
                 <ion-label class="text-title" style="font-size:15px;">Fermee</ion-label>

        </ion-item>
        <ion-item>
          <ion-checkbox slot="start" formControlName="ouverte"></ion-checkbox>
          <ion-label class="text-title" style="font-size:15px;">Ouverte</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" class="text-title">Nombre de Membres Maximal</ion-label>
            <ion-range [pin]="true" formControlName="membreMax" [pinFormatter]="pinFormatter" min="1" max="1000"></ion-range>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" class="text-title">Montant Maximal</ion-label>
          <ion-input type="number" inputmode="tel" formControlName="montantMax" min="1" max="1000000"></ion-input>
        </ion-item>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>
