<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-row >
      <ion-col size="3">
        <ion-icon name="arrow-back-outline" size="medium" (click)="myBackButton()" >

        </ion-icon>
      </ion-col>
      <ion-col size="6">
          <ion-title color="light" class="text-title ion-text-center ion-text-capitalize">Detail Exercice</ion-title>
      </ion-col>
      <ion-col size="3" class="ion-text-end ion-padding-end" >
        <ion-icon id="click-trigger" name="ellipsis-vertical-outline" *ngIf="currentUser.user.id === currentTontine.user_id"></ion-icon>
        <ion-popover trigger="click-trigger" triggerAction="click" >
          <ng-template class="custom-popover">
            <ion-content class="ion-padding " >
              <ion-list>
                <ion-item lines="none" (click)="annulerExercice(id)">
                  <ion-text slot="start">
                    Annuler
                  </ion-text>
                  <ion-icon name="log-in-outline" slot="end"></ion-icon>
                </ion-item >
                <ion-item lines="none" (click)="updateExercice(id,currentExercice)">
                  <ion-text slot="start">
                    Modifier
                  </ion-text>
                  <ion-icon slot="end" name="create-outline" ></ion-icon>
                </ion-item >
                <ion-item lines="none" (click)="deleteExercice(id)">
                  <ion-text slot="start">
                    Supprimer
                  </ion-text>
                  <ion-icon slot="end" name="trash-outline"></ion-icon>
                </ion-item>
                <ion-item lines="none" (click)="validerExercice(id)">
                  <ion-text slot="start">
                    Valider
                  </ion-text>
                  <ion-icon name="checkmark-outline" slot="end"></ion-icon>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid *ngIf="currentExercice">
    <ion-grid >
      <ion-card class="ion-no-border ion-padding custom-bottom">
        <ion-row>
          <ion-col size="6" class="custom-center">
              <ion-text class="custom" >Exercice No {{rank}}</ion-text>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="4"  *ngIf="!currentExercice.etatE">
            <ion-note color="success" *ngIf="currentExercice.statusE">
              En cours
            </ion-note>
            <ion-note color="warning" *ngIf="!currentExercice.statusE">
              Termine
            </ion-note>
          </ion-col>
          <ion-col size="4"  *ngIf="currentExercice.etatE">
            <ion-note color="danger" >
              Annule
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text *ngIf="currentExercice.membres">
              {{currentExercice.membres.length}} Membres
            </ion-text>
          </ion-col>
          <ion-col size="2">

          </ion-col>
          <ion-col size="4">
            {{currentExercice.dateDebutE | date:'dd/MM/yyyy' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              {{currentExercice.duree +' '+currentExercice.periodicite}}
            </ion-row>
          </ion-col>
          <ion-col size="2">

          </ion-col>
          <ion-col size="4">
            <ion-row>
              {{currentExercice.nbreBenef}} Beneficiaires
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-row >
              <ion-text color="success">
                Frequence: {{currentExercice.frequence +' '+currentExercice.periodicite}}
              </ion-text>
            </ion-row>
          </ion-col>
          <ion-col size="2">

          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-text>
                {{currentTontine.montantT | currency:'XAF'}}
              </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-grid>

    <ion-row>
      <ion-col size="6">
        <ion-card color="warning" class="ion-padding ion-text-center" id="open-modalA">
          <ion-row>
            <ion-text class="sub-card">
              Retards Payes
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="sub-card">
              {{(currentExercice.retardsPayes.length * currentTontine.retard) | currency:'XAF'}}

            </ion-text>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="danger" class="ion-padding ion-text-center" id="open-modalB">
          <ion-row>
            <ion-text class="sub-card">
              Echecs Payes
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="sub-card">
              {{(currentExercice.echecsPayes.length * currentTontine.echec) | currency:'XAF'}}
            </ion-text>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card color="warning" class="ion-padding ion-text-center" id="open-modalC">
          <ion-row>
            <ion-text class="sub-card">
              Retards Non Payes
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="sub-card">
              {{(currentExercice.retardsNonPayes.length * currentTontine.retard) | currency:'XAF'}}
            </ion-text>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="danger" class="ion-padding ion-text-center" id="open-modalD">
          <ion-row>
            <ion-text class="sub-card">
              Echecs Non Payes
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="sub-card">
              {{(currentExercice.echecsNonPayes.length * currentTontine.echec) | currency:'XAF'}}
            </ion-text>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-card color="success" class="ion-padding ion-text-center">
          <ion-row>
            <ion-text class="sub-card">
              Cotisations
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text class="sub-card">
              {{(currentExercice.cotisations.length * currentTontine.montantT) | currency:'XAF'}}
            </ion-text>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-text color="dark" >
              Toutes les seances
            </ion-text>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <ion-icon color="dark" size="large" name="ellipsis-horizontal-outline" ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>

    <ion-grid *ngIf="currentExercice.seances">
      <ion-card class="ion-padding" *ngFor="let item of currentExercice.seances;let i = index;" >
        <ion-row (click)="goToSeance(item,i)" >
          <ion-col size="4">
            Seance {{i+1}}
          </ion-col>
          <ion-col size="4"></ion-col>
          <ion-col size="4">
            <ion-text *ngIf="item.statutS" color="success">
              A Venir
            </ion-text>
            <ion-text *ngIf="!item.statutS" color="warning">
              Terminee
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            {{item.dateS | date:'dd/MM/yyyy'}}
          </ion-col>
          <ion-col size="4">
            <ion-text>
            </ion-text>
          </ion-col>
          <ion-col size="4" style="font-size:12px ;" (click)="setCurrentSeance(item)" *ngIf="currentUser.user.id === currentTontine.user_id">
            <ion-text >
              Beneficiaires
            </ion-text>
            <ion-icon name="chevron-forward-outline" ></ion-icon>

          </ion-col>
          
        </ion-row>
        <!-- <ion-row>
          <ion-col size="4">
          </ion-col>
          <ion-col size="4">
            <ion-text>
            </ion-text>
          </ion-col>
          <ion-col size="4" style="font-size:10px ;">
            <ion-text >
              <ion-badge>
                {{currentExercice.seancesWithBenef.length}} / {{currentExercice.nbreBenef}}
              </ion-badge>
            </ion-text>
          </ion-col>
        </ion-row> -->
      </ion-card>
    </ion-grid>

    <ion-modal #modal trigger="open-modal1" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)" [(ngModel)]="searchInput">
          </ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let item of currentExercice.membres | filter:searchInput">
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{item.nom+' '+item.prenom}}</h2>
                <p>Depuis le {{item.created_at | date:'dd/MM/yyyy'}}</p>
              </ion-label>
              <ion-checkbox (click)="createBeneficiaire(currentSeance,currentTontine.montantT,item.id)">
              </ion-checkbox>
            </ion-item>
            </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>


    <ion-modal #modal trigger="open-modalA" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75,1]">
      <ng-template>
        <ion-content>
          <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)" [(ngModel)]="searchInput">
          </ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let item of currentExercice.retardsPayes | filter:searchInput " (click)="navToSeance(item.seance_id)" >
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{item.nom+' '+item.prenom}}</h2>
                <p color="warning"> le {{item.created_at | date:'dd/MM/yyyy'}}</p>
              </ion-label>
              <ion-note slot="end" *ngIf="!item.statut" color="danger">
                <p >{{currentTontine.retard | currency:'XAF'}} </p>
              </ion-note>
              <ion-note slot="end" *ngIf="item.statut" color="warning">
                <p >{{currentTontine.retard | currency:'XAF'}} </p>
              </ion-note>
              <ion-row>
                <ion-text>Seance: {{item.numeroSeance}}</ion-text>
              </ion-row>
            </ion-item>
            </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal trigger="open-modalB" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75,1]">
      <ng-template>
        <ion-content>
          <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)" [(ngModel)]="searchInput">
          </ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let item of currentExercice.echecsPayes | filter:searchInput ">
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{item.nom+' '+item.prenom}}</h2>
                <p color="warning"> le {{item.created_at | date:'dd/MM/yyyy'}}</p>
              </ion-label>
              <ion-note slot="end" *ngIf="!item.statut" color="danger">
                <p >{{currentTontine.echec | currency:'XAF'}} </p>
              </ion-note>
              <ion-note slot="end" *ngIf="item.statut" color="warning">
                <p >{{currentTontine.echec | currency:'XAF'}} </p>
              </ion-note>
              <ion-row>
                <ion-text>Seance: {{item.numeroSeance}}</ion-text>
              </ion-row>
            </ion-item>
            </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal trigger="open-modalC" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75,1]">
      <ng-template>
        <ion-content>
          <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)" [(ngModel)]="searchInput">
          </ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let item of currentExercice.retardsNonPayes | filter:searchInput ">
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{item.nom+' '+item.prenom}}</h2>
                <p color="warning"> le {{item.created_at | date:'dd/MM/yyyy'}}</p>
              </ion-label>
              <ion-note slot="end" *ngIf="!item.statut" color="danger">
                <p >{{currentTontine.retard | currency:'XAF'}} </p>
              </ion-note>
              <ion-note slot="end" *ngIf="item.statut" color="warning">
                <p >{{currentTontine.retard | currency:'XAF'}} </p>
              </ion-note>
              <ion-row>
                <ion-text>Seance: {{item.numeroSeance}}</ion-text>
              </ion-row>
            </ion-item>
            </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal trigger="open-modalD" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75,1]">
      <ng-template>
        <ion-content>
          <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)" [(ngModel)]="searchInput">
          </ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let item of currentExercice.echecsNonPayes | filter:searchInput ">
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{item.nom+' '+item.prenom}}</h2>
                <p color="warning"> le {{item.created_at | date:'dd/MM/yyyy'}}</p>
              </ion-label>
              <ion-note slot="end" *ngIf="!item.statut" color="danger">
                <p >{{currentTontine.echec | currency:'XAF'}} </p>
              </ion-note>
              <ion-note slot="end" *ngIf="item.statut" color="warning">
                <p >{{currentTontine.echec | currency:'XAF'}} </p>
              </ion-note>
              <ion-row>
                <ion-text>Seance: {{item.numeroSeance}}</ion-text>
              </ion-row>
            </ion-item>
            </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>


  </ion-grid>
</ion-content>
