<ion-tabs>
  <ion-tab-bar id="app-tab-bar" slot="bottom">
    <ion-tab-button tab="tontines">
      <ion-icon name="wallet-outline" ></ion-icon>
      <ion-label class="text-label">Tontines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="demandes">
      <ion-icon name="hand-left-outline" ></ion-icon>
      <ion-label class="text-label" >Demandes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="notifications-outline" ></ion-icon>
      <ion-label  class="text-label">Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbox-outline" ></ion-icon>
      <ion-label class="text-label" >Messages</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="parametres">
      <ion-icon name="settings-outline" ></ion-icon>
      <ion-label class="text-label">parametres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
