<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-row >
      <ion-col size="3">
      </ion-col>
      <ion-col size="6">
          <ion-title color="light" class="text-title ion-text-center ion-text-capitalize">Demandes</ion-title>
      </ion-col>
      <ion-col size="3" >
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-segment (ionChange)="segmentChanged($event)" value='tontines'>
    <ion-segment-button value="tontines">
      <ion-label class="text-title"> Tontines</ion-label>
    </ion-segment-button>
    <ion-segment-button value="adhesions">
      <ion-label class="text-title">Adhesions</ion-label>
    </ion-segment-button>
    <ion-segment-button  value="demandes">
      <ion-label class="text-title"> Demandes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-grid *ngIf="currentSegment === 'demandes'">
      <ion-card  class="ion-no-border ion-padding" *ngFor="let item of demandes;let i = index;">
              <ion-row>
                <ion-col size="9" >
                  <ion-text style="font-weight:bold;color:black">{{item.nomT}}</ion-text>
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col >
                  <ion-text color="medium">{{item.maxT +' membres '}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text color="medium">{{ item.montantT+' XAF'}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>
                    Le {{item.created_at | date:'dd/MM/yyyy'}}
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <ion-button *ngIf="!item.validation" size="small" shape="round"
                   fill="outline"
                   (click)="cancelDemande(item.id)"
                   >Annuler</ion-button>
                   <ion-button *ngIf="item.validation" size="small" shape="round"
                   fill="outline" color="success"

                   >Valider</ion-button>
                </ion-col>
              </ion-row>

            <ion-row>
            </ion-row>
        </ion-card>
    </ion-grid>



    <ion-grid *ngIf=" currentSegment === 'adhesions'">

        <ion-card  class="ion-no-border ion-padding" *ngFor="let item of mesTontines;let i = index;" (click)="goToDetail(item.id)"  >
          <ion-row>
            <ion-col size="9">
              <ion-text style="font-weight:bold;color:black">{{item.nomT}}</ion-text>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <ion-text color="medium">{{item.maxT +' membres '}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="medium">{{ item.montantT+' XAF'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <ion-text color="success">
                Le {{item.created_at | date:'dd/MM/yyyy'}}
              </ion-text>
            </ion-col>
            <ion-col size="2" class="ion-text-end">
            </ion-col>
            <ion-col size="2" class="ion-text-end">
              <ion-icon *ngIf="item.type === 'Ouverte'" name="lock-open-outline"></ion-icon>
              <ion-icon *ngIf="item.type === 'Fermee'" name="lock-closed-outline"></ion-icon>
            </ion-col>
          </ion-row>
        <ion-row>
        </ion-row>
    </ion-card>
    </ion-grid>




</ion-grid>
<ion-grid *ngIf="currentSegment === 'tontines'">
    <ion-card  class="ion-no-border ion-padding" *ngFor="let item of tontines;let i = index;" >
      <ion-row  >
        <ion-col size="9" (click)="goToDetail(item.id)">
          <ion-text style="font-weight:bold;color:black">{{item.nomT}}</ion-text>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-icon name="ellipsis-horizontal-outline" id="click-trigger" ></ion-icon>
          <ion-popover trigger="click-trigger" triggerAction="click" >
            <ng-template class="custom-popover">
              <ion-content class="ion-padding " >
                <ion-list>
                  <ion-item lines="none">
                    <ion-text slot="start">
                      Modifier
                    </ion-text>
                    <ion-icon slot="end" name="create-outline"></ion-icon>
                  </ion-item >
                  <ion-item lines="none">
                    <ion-text slot="start">
                      Supprimer
                    </ion-text>
                    <ion-icon slot="end" name="trash-outline"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row (click)="goToDetail(item.id)">
        <ion-col >
          <ion-text color="medium">{{item.maxT +' membres '}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row (click)="goToDetail(item.id)">
        <ion-col>
          <ion-text color="medium">{{ item.montantT+' XAF'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row (click)="goToDetail(item.id)">
        <ion-col size="8">
          <ion-text color="warning" *ngIf="demandes && demandes.includes(item.id) ">
           En Attente
          </ion-text>
          <ion-text *ngIf="mesTontines &&  mesTontines.includes(item.id)" color="success">
            Membre
          </ion-text>
          <ion-text *ngIf="item.user_id === currentUser.user.id" color="success">
            Proprietaire
          </ion-text>
        </ion-col>
        <ion-col size="2" class="ion-text-end">
        </ion-col>
        <ion-col size="2" class="ion-text-end">
          <ion-icon *ngIf="item.type === 'Ouverte'" name="lock-open-outline"></ion-icon>
          <ion-icon *ngIf="item.type === 'Fermee'" name="lock-closed-outline"></ion-icon>
        </ion-col>
      </ion-row>
    <ion-row>
    </ion-row>
</ion-card>
</ion-grid>




</ion-content>
